<!DOCTYPE html>
<html>
<head>
	<!--import Boostrap plugin-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

	<style>
		body {
			background-color: ghostwhite;
		}
		table {
			border:  3px solid white;
			border-collapse: collapse;	/*no borders*/
			width: 80%;
			margin-left: auto;
	  		margin-right: auto;
	  		font-family: "Gill Sans", sans-serif;
	  		z-index: 1;				/*table is over the highlight*/
	  		overflow: hidden;		/*cuts off the column highlight as to not overflow*/
	  		border-radius: 20px;	/*rounded corners*/
	  		box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.25); /*offset, offset, blur, colour of shadow*/
		}

		h2 {
			width: 80%;			/*same width of table so it aligns*/
			margin-left: auto;
	  		margin-right: auto;
	  		font-family: "Gill Sans", sans-serif;
	  		text-align: center;
	  		text-transform: uppercase;
	  		font-weight: bold;
		}

		td, th {
			cursor: pointer;
			padding: 20px;
			position: relative;
			text-align: center;
			width: 12.5%;			/*equal width for all columns*/
			word-break: break-word; /*wrap words*/

		}

		th {
			background-color: #354863 !important;	/*colour will stay the same even on hover*/
			color: #FFFFFF;
			text-transform: uppercase;
		}

		.button {					/*format of + buttons*/
			border: none;
			color: #354863;
			background-color: transparent;
			padding: 1px 1px;
			text-align: center;
			font-size: 8px;
			margin: 5px 5px;
			cursor: pointer;
			float: right;
		}

		tr:hover {					/*highlights rows*/
			background-color: rgba(195, 164, 255, 0.25);
			z-index: -1;			/*behind the table*/
		}

		td:hover::after { 			/*highlights columns*/
		    background-color: rgba(195, 164, 255, 0.25);
		    content: "";			/*content that needs to be highlighted*/
		    height: 10000px;    	/*size of the content*/
		    left: 0;
		    position: absolute;  
		    top: -5000px;
		    width: 100%;
		    z-index: -1;			/*behind the table*/
		}
		
		.chevron {
			display: inline-block; /*the top and bottom margins/paddings are respected; does not add a line-break after the element, so the element can sit next to other elements.*/
			border-radius: 0px;
			background-color: #354863;
			border: none;
			color: #FFFFFF;
			text-align: center;
			font-size: 25px;
			padding: 0px;
			width: 60px;
			transition: all 0.5s;	/*0.5s transition to change of bg color during hover; see .chevron:hover*/
			cursor: pointer;
			margin: 10px;
			border-radius: 10px;
			float: right;
		}

		.chevron span {
			cursor: pointer;
			display: inline-block;	
			position: relative;
			transition: 0.5s;	/*0.5s transition from < to <<*/
		}

		.chevron:hover {
			background-color: #1B2533; 
		}

		.leftbtn .left:before {			/*uses :before for animation to happen when you hover to the button instead of out of the button*/
			content: '\00ab';			/*contains << but invisible (opacity 0)*/
			position: absolute;
			opacity: 0;
			top: 0;
			right: 0px;
			/*transition: 0.5s;*/	
			color: #ffffff;
		}

		.leftbtn:hover .left {
			padding-left: 15px;
			color: #1B2533;			/*changes colour of < to become "invisible"*/
		}

		.leftbtn:hover .left:before {		
			opacity: 1;			/* >> becomes visible */
			left: 0;
		}

		.rightbtn .right:before {
			content: '\00bb';		/*>>*/
			position: absolute;
			opacity: 0;
			top: 0;
			left: 0px;
			transition: 0.5s;
			color: #ffffff;
		}

		.rightbtn:hover .right {
			padding-right: 15px;
			color: #1B2533;
		}

		.rightbtn:hover .right:before {
			opacity: 1;
			right: 0;
		}

		.addtable {
			position: relative;
			bottom: 0;
			font-size: 35px;
			background-color: transparent;
			border: none;
			color: #354863;
			cursor: pointer;
			float: right;
			
		}

		.deltable {
			font-size: 14px;
			background-color: transparent;
			border: none;
			color: darkred;
			cursor: pointer;	
			position: relative;
			bottom: 0px;		
		}

		.title {
			background-color: transparent;
			width: 16.5%;
			height: 1%;
			position: absolute;
			margin-left: auto;
	  		margin-right: auto;
			left: 73.5%;
			top: 35px;
			z-index: 2;
			display: table-row;
		}

	</style>
</head>

<body onload="addButtons()">
    <!-- Left and right controls -->
	<div class = "title">
    	<button class="chevron rightbtn" href="#myCarousel" data-slide="next">
	    	<span class="right"> › </span>
	    </button>
    	<button class="chevron leftbtn" href="#myCarousel" data-slide="prev">
    		<span class="left"> ‹ </span>
	    </button>	
	    <button class = "addtable" onclick="AddTable()"><i class="bi bi-plus-square-fill"></i></button>
    </div>
	<!--start of carousel-->
	<div id="myCarousel" class="carousel slide" style="top: 27px;" data-interval="false">
	    <div id = "tables" class="carousel-inner">
	      	<div class="item active">
		      	<h2> Time Table </h2>
				<table>
					<tr>
						<th>Time</th>
						<th class = "monday">Monday</th>
						<th class = "tuesday">Tuesday</th>
						<th class = "wednesday">Wednesday</th>
						<th class = "thursday">Thursday</th>
						<th class = "friday">Friday</th>
						<th class = "saturday">Saturday</th>
						<th class = "sunday">Sunday</th>
					</tr>

					<tr>
						<th>0900-1000</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>		
					</tr>

					<tr>
						<th>1000-1100</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>

					<tr>
						<th>1100-1200</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>

					<tr>
						<th>1200-1300</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>

					<tr>
						<th>1300-1400</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>

					<tr>
						<th>1400-1500</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>

					<tr>
						<th>1500-1600</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>

					<tr>
						<th>1600-1700</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>

					<tr>
						<th>1700-1800</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>

					<tr>
						<th>1800-1900</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>

					<tr>
						<th>1900-2000</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>

					<tr>
						<th>2000-2100</th>
						<td class = "monday"></td>			
						<td class = "tuesday"></td>		
						<td class = "wednesday"></td>		
						<td class = "thursday"></td>		
						<td class = "friday"></td>			
						<td class = "saturday"></td>		
						<td class = "sunday"></td>	
					</tr>
				</table>
	      	</br></br></br>
	      	</div>
	  	</div>    
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.min.js" integrity="sha512-jtr9/t8rtBf1Sv832XjG1kAtUECQCqFnTAJWccL8CSC82VGzkPPih8rjtOfiiRKgqLXpLA1H/uQ/nq2bkHGWTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	var data = <%- JSON.stringify(data) %>;
	let tablecount = Object.keys(data).length;
	console.log(data)
	console.log(tablecount)

	function addButtons(){	//add buttons and unique btn ID for each using a for loop instead of copy paste within html
		for ( var tblinc = 1; tblinc < tablecount; tblinc++ ) {

			let weekdate = new Date(data[tblinc.toString()]["weekdate"]);
			let ukDate = weekdate.toLocaleString('en-GB', { timeZone: 'Europe/London' }).substr(0,10);

			let newtable = '<div class="item"><h2>Week of ' + ukDate + '<button class = "deltable" onclick="DeleteTable()"><i class="bi bi-trash"></i></button></h2><table><tr> <th>Time</th> <th>Monday</th> <th>Tuesday</th> <th>Wednesday</th> <th>Thursday</th> <th>Friday</th> <th>Saturday</th> <th>Sunday</th> </tr> <tr> <th>0900-1000</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1000-1100</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1100-1200</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1200-1300</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1300-1400</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1400-1500</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1500-1600</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1600-1700</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1700-1800</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1800-1900</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1900-2000</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>2000-2100</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> </table> </br></br></br> </div>';
	    
			tables.insertAdjacentHTML("beforeend", newtable); //print existing table
		}

		var tds = document.getElementsByTagName("td");

		let index = 0;
        
        for ( tblinc = 0; tblinc < tablecount; tblinc++) {
        	for (let cellinc = 0; cellinc < 84; cellinc++) {
				tds[index].innerHTML = '<div id="t ' + tblinc + ' c ' + cellinc + '">' + data[tblinc.toString()]["c"+cellinc.toString()] + '</div>' + tds[index].innerHTML + '<button id="' + tblinc + ' c ' + cellinc + '" class="button" onclick="SetCell(this)"><i class="bi bi-pencil"></i></button></section>';
				index = index + 1;
			}
        }
	}

	function AddTable(){		//When Add Table button is clicked, prints a new table
		
		let weekdate = prompt("Please enter date(dd/mm/yyyy):");	/*adds date of Monday to table title*/

		if (weekdate == null || weekdate == "") {
	  	} 

	  	else {			//if there's an inputted value in prompt, add table
	  		weekdatesql = weekdate.split("/");		//splits it at the /
	  		weekdatesql = weekdatesql[2] + '-' + weekdatesql[1] + '-' + weekdatesql[0];
	  		$.ajax({
	            type: 'POST',			//copy values of primary row to new row, with new id = weekdate
	            url: 'http://localhost:3000/addTimetableTable',
	            data: { 'weekdate': weekdatesql },
	            success: sendRefreshMessageToServer()
		    });

		  	data = <%- JSON.stringify(data) %>;
			let tablecount = Object.keys(data).length;
			data[tablecount] = data [0];				//copy values of primary row to new row
			data[tablecount.toString()]['weekdate'] = weekdatesql;	//change id of new row to weekdate

	    	let newtable = '<div class="item"><h2>Week of ' + weekdate + '<button class = "deltable" onclick="DeleteTable()"><i class="bi bi-trash"></i></button></h2><table><tr> <th>Time</th> <th>Monday</th> <th>Tuesday</th> <th>Wednesday</th> <th>Thursday</th> <th>Friday</th> <th>Saturday</th> <th>Sunday</th> </tr> <tr> <th>0900-1000</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1000-1100</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1100-1200</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1200-1300</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1300-1400</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1400-1500</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1500-1600</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1600-1700</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1700-1800</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1800-1900</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>1900-2000</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> <tr> <th>2000-2100</th> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> </tr> </table> </br></br></br> </div>';
	    
			tables.insertAdjacentHTML("beforeend", newtable); //print new table
			
			console.log(tablecount);
			var index = tablecount*84;	//one table = 84 cells. First cell in new table should start at multiples of 84
			var tds = document.getElementsByTagName("td");	//get all td elements

        	for (let cellinc = 0; cellinc < 84; cellinc++) {
				tds[index].innerHTML = '<div id="t ' + tablecount + ' c ' + cellinc + '">' + data[tablecount]["c"+cellinc.toString()] + '</div>' + tds[index].innerHTML + '<button id="' + tablecount + ' c ' + cellinc + '" class="button" onclick="SetCell(this)"><i class="bi bi-pencil"></i></button></section>';
				index = index + 1;
			}
		}
	}


    function SetCell(btn) {				//when button is clicked, a prompt shows asking for a name to add.
        let cell = "t " + btn.id;
        let text;
        let person = prompt("Please enter name:" + btn.id);

        if (person == null || person == "") {
        }

        else {
            text = person ;
            document.getElementById(cell).innerHTML = text;		//Saves it to the cell# that triggered the function.

	        const cellnumber = cell.split(" ");		//splits it at the spaces
	        let cellname = "c" + cellnumber[3];		//gets the cell number; cellnumber[1] is the table#
	        let tablename = data[cellnumber[1].toString()]["weekdate"]; //gets the ID of the row


	        $.ajax({
	            type: 'POST',
	            url: 'http://localhost:3000/updateTimetableTable',
	            data: { 'student': text, 'table': tablename, 'cell': cellname },
	            success: sendRefreshMessageToServer()
	        });
        }
    }


	let date = new Date();					//gets current day
	let dayofweeknumber = date.getDay();
	let nameOfDay;

	switch(dayofweeknumber) {
		case 0: 
        	nameOfDay = 'sunday';
        	break;

   		case 1:
        	nameOfDay = 'monday';
        	break;

    	case 2:
        	nameOfDay = 'tuesday';
        	break;

    	case 3:
        	nameOfDay = 'wednesday';
        	break;

    	case 4:
        	nameOfDay = 'thursday';
        	break;

    	case 5:
        	nameOfDay = 'friday';
        	break;

    	case 6:
        	nameOfDay = 'saturday';
        	break;
	}

	for (var i = 0; i < 13; i++) {		//highlights current day in second table
		document.getElementsByClassName(nameOfDay)[i].style.backgroundColor = "rgba(195, 164, 255, 0.5)";
	}
	
    const url = 'ws://localhost:8080'
    const connection = new WebSocket(url)

    connection.onmessage = (e) => {
        if (e.data != clientId.toString()) {
            location.reload()
        } else {
            console.log(e.data)
        }
    }


    var clientId = Math.random(1)

    function sendRefreshMessageToServer() {
        connection.send(clientId)
    }

</script> 

</body>
</html>